.wrapper{
	width: 1020px;
	margin: 0 auto;
}
.wraper::after{
	content: "";
	clear: "both"
}
.logo{
	margin-top: 10px;	
	margin-left: 10px;
	width: 160px;
	height: 50px;
}
.header li span{
	color: #333;
}
*{
	outline: none
}
.pull-left{
	float: left;
}
.pull-right{
	float: right;
}
.clearfix{
	clear: both;
}
ul{
	margin: 0;
	padding: 0;
}
.clear{
	clear: both;
}
.active{

}
a:hover{
	text-decoration: none;
}

.header ul,.header li,.user{
	display: inline-block;
}
.nav{
	font-size: 0;
}
.message i{
	position: relative;
	top: -5px;
	font-size: 16px;
	color: #999;
}
.message span{
	position: relative;
	top: -18px;
	padding-left: 1px;
	right: 10px;
	text-align: center;
	line-height: 15px;
	display: inline-block;
	width: 15px;
	height: 15px;
	background-color: #ff7043;
	border-radius: 5px;
}
.user span{

}
.nav li span:hover {
	color: #1be4b3;;
	border-bottom: 1px solid #1bd9aa;
}
.nav li:after{
	width: 100px;
	height: 5px;
	content: "dd"
}

.message li{

	padding-left: 10px;
	line-height: 73px;
	margin: 0 auto;
}
.message li span:hover{
	color: #1be4b3;
}
.message li a{
}
.black{
	background-color: #5d5d5d;
}
.nav li a{
	margin-left: 8px;
}
.nav li span{
	position: absolute;
	top:-6px;
	margin-left: 5px;
}
.header a,.header span{
	color: #fff;
	font-family: "微软雅黑";
	font-size: 14px;
}
.user a{
	position: relative;
	top: -6px;
	height: 73px;
	line-height: 73px;
}
.message a img{
	padding: 3px;
}
.user em{
	font-size: 18px;
	padding-top: 3px;
	margin-right: 5px;
}

.nav li{
	position: relative;
	height: 60px;
	width: 100px;
	line-height: 73px;
	margin: 0 auto;
}

ul,li{
	display: inline-block;
}
.banner{
	width: 100%;
	background-size: 100%;

}

.wrapper_s{
	width: 1000px;
	margin: 0 auto;
	height: 600px;
}

.wrapper_s ul,.wrapper_s li{
	display: block;
}
.content_left{
	margin-top: 9px;
	border: 1px solid #dcdcdc;
	margin-bottom: 600px;
}


.content_left img{
	margin:auto 15px;
	vertical-align: middle;
}
.content_left .already{
	color: #ffffff;
	background-color:#1bd9aa;
}
.content_left .active{
	background-color: #1bd9aa;
	color: #f5f5f5;
}
.second{
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #ffffff;
}
.content_left a{
	display: block;
	width: 150px;
	height: 50px;
	line-height: 50px;
	color: #4b4b4b;
	font-family: "微软雅黑";
	font-size: 16px;
	background-color: #f5f5f5;
	text-decoration: none;
}
.content_left a:hover{
	background-color: #1bd9aa;
	color: #f5f5f5;
}
.wrapper_s .pull-right{
	border: 1px solid #d2d2d2;
	width: 800px;
	margin: 10px auto;
}

.wrapper_s .pull-right img{
	float: left;
	margin: 15px;
}
.text{
	float: left;
	width: 300px;
}
.text p{
	padding-top:20px;
	color: #303030;
	font-size: 18px;
	font-family: "微软雅黑";
}
td{
 	padding:10px;
 	color: #303030;
 	font-family: "宋体";
 	font-size: 12px;
  }
  .text a{
  	color: #ff7043;

  }

.more{
	padding-top: 110px;
	padding-left: 700px;
}
  .more a{
  	border: 1px solid #999999;
  	padding: 5px 10px;
  	border-radius: 7px;
  	color: #454545;
  	font-family: "宋体";
  	font-size: 12px;
  	text-decoration: none;
  }
  .more a:hover{
  	background-color: #1be4b3;
  	color: #fffefe;
  	border: 0;
  }


